<div class="row">
  <div class="col-12">
    <nb-card size="">
      <nb-card-header>
        Add Grades to Student Id: {{studentId}}
      </nb-card-header>

      <nb-card-body>

        <form (ngSubmit)="addMarks();" #form="ngForm" aria-labelledby="title">

          <div class="form-control-group">
            <label class="label" for="input-semester">Semester:</label>
            <input nbInput
                   [min]="0" [max]="4"
                   [(ngModel)]="semester"
                   (ngModelChange)="getAssignmentBySemester(semester)"
                   id="input-semester"
                   name="semester"
                   placeholder="Semester"
                   autofocus
                   type="number"
                   fullWidth
                   [required]="true">
          </div>

          <div *ngIf="assignmentsData">
            <div *ngFor="let assignment of assignmentsData" class="form-control-group">
              <label class="label">{{assignment.assignmentName}}</label>
              <div class="form-control-group">
                <!--<label class="label" for="input-marks">Marks:</label>-->
                <input nbInput
                       [(ngModel)]="assignment.marks"
                       #marks="ngModel"
                       id="input-marks"
                       name="marks"
                       placeholder="Marks"
                       autofocus
                       fullWidth
                       type="number"
                       [required]="true">
                <!-- <ng-container *ngIf="semester.invalid && semester.touched">
                   <p class="error-message" *ngIf="semester.errors?.required">
                     Semester is required!
                   </p>
                 </ng-container>-->
              </div>
            </div>
          </div>

          <div style="margin-top: 50px;" class="row">
            <div class="col-md-12">
              <button nbButton
                      status="success"
                      [class.btn-pulse]="submitted">
                Add Marks
              </button>
            </div>
          </div>
        </form>


      </nb-card-body>

    </nb-card>

  </div>
</div>
