<div class="row">
    <div class="col-12">
       <nb-card size="">
        <nb-card-header>
          Mark Atendence
        </nb-card-header>

        <nb-card-body>
            <div class="row">
                    <div class="col-md-4">
                            <div class="form-group">
                               <label for="dated" class="label">Date</label>
                               <input disabled [(ngModel)]="date" fullWidth nbInput
                                  placeholder="Date"
                                  [nbDatepicker]="dated">
                               <nb-datepicker #dated></nb-datepicker>
                            </div>
                         </div>
            </div>


            <ng2-smart-table  (custom)="markAtendence($event)"  [source]="source" [settings]="Tablesettings"  >
            </ng2-smart-table>
               
        </nb-card-body>

        </nb-card>

    </div>
</div>